     <div class="container">
     <div class="col-xs-12">

    <h1 class="text-center">welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers !!</h1>
    <p class="text-center">in<span class="glyphicon glyphicon-book" aria-hidden="true">Bookers,</span></p>

    <p class="text-center">you can share and exchange your opinions , inpressions , and emotions<br>about varioius books!</p>

    <%= link_to "login", new_user_session_path, class: "btn btn-info active center-block" %>
    <%= link_to "sign up", new_user_registration_path, class: "btn btn-success active center-block" %>


     </div>

    